[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "~=1.3"
aws-lambda-powertools = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
mypy = "*"
boto3 = "*"

[requires]
python_version = "3.9"
