#set($partition_key = "EU_MRV_EMISSIONS_DATA" )

{
    "version" : "2017-02-28",
    "operation" : "Query",
    "limit": 200,
    "select" : "ALL_ATTRIBUTES",
    "query" : {
        "expression": "#PK = :pk",
        "expressionNames" : {
            "#PK" : "PK"
        },
        "expressionValues" : {
            ":pk": $util.dynamodb.toDynamoDBJson($partition_key)
        }
    },
    #if ( !$util.isNull( $ctx.args.imo_number))
    "filter": {
        "expression": "#imo_number = :imo_number",
        "expressionNames" : {
            "#market" : "market"
        },
        "expressionValues" : {
            ":market" : $util.dynamodb.toDynamoDBJson(${ctx.args.imo_number})
        }
    }
    #end
}
