#set($partition_key = "EU_MRV_EMISSIONS_DATA" )
#set($sort_key = "REPORTING_PERIOD#${ctx.args.reporting_period}#IMO_NUMBER#${ctx.args.imo_number}")
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "PK" : $util.dynamodb.toDynamoDBJson($partition_key),
        "SK" : $util.dynamodb.toDynamoDBJson($sort_key)
    }
}
